<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>도서 판매 프로그램</title>
  </head>
</html>
<body>
  <section id="read-form">
    <table id="read-table">
      <thead>
        <tr id="field">
          <th>제목</th>
          <th>가격</th>
          <th>작가</th>
          <th>삭제</th>
        </tr>
      </thead>

      <tbody>
        <% for(let i = 0; i < result.length; i++){%>
        <tr>
          <td><%=result[i].book_name%></td>
          <td><%=result[i].book_price%></td>
          <td><%=result[i].book_author%></td>
          <td><input type="submit" value="삭제" /></td>
        </tr>
        <%}%>
      </tbody>
    </table>
  </section>
</body>
