<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>도서 판매 프로그램</title>
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/static/css/addCard.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <section id="add-card-form">
      <h2>
        <div style="text-align: center">카드등록</div>
      </h2>
      <form method="post" action="add-card" class="add-card">
        <table>
          <!-- <label>카드 유효기간</label> -->
          <input
            type="text"
            class="input"
            placeholder="카드 유효기간"
            id="card_valid_date"
            name="card_valid_date"
          />
          <!-- <label>카드 종류</label> -->
          <input
            type="text"
            class="input"
            placeholder="카드 종류"
            id="card_type"
            name="card_type"
          />
          <!-- <label>카드번호</label> -->
          <input
            type="text"
            class="input"
            placeholder="카드번호"
            id="card_id"
            name="card_id"
          />
        </table>
        <input type="submit" value="등록하기" class="cardbtn" />
      </form>
    </section>
  </body>
</html>
