<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>도서 판매 프로그램</title>
  </head>
  <body>
    <h1>
      <div style="text-align: center">Oline Book Store</div>
    </h1>
    <section id="read-form">
      <h2><div style="text-align: center">마이페이지</div></h2>
      <table id="read-table">
        <thead>
          <tr id="field">
            <th>쿠폰 번호</th>
            <th>쿠폰 내용</th>
            <th>할인 가격</th>
            <th>사용 유무</th>
          </tr>
        </thead>
        <input type="button" value="메인 화면" onClick="location.href='/'" />
        <button type="button" onclick="location.href='/order/order_list'">
          주문내역
        </button>
        <button type="button" onclick="location.href='/cart/cart_list'">
          내 장바구니
        </button>
        <button type="button" onclick="location.href='/user/add-card'">
          카드등록
        </button>
        <button type="button" onclick="location.href='/user/add-address'">
          주소등록
        </button>

        <tbody>
          <% for(let i = 0; i < result.length; i++){%>
          <tr>
            <td><%= result[i].id %></td>
            <td><%=result[i].content %></td>
            <td><%=result[i].discount %></td>
            <% let used%> <% if(result[i].useYN === 0){%> <%used =
            "사용가능"}else{%> <%used = "사용불가"}%>
            <td><%=used %></td>
          </tr>
          <%}%>
        </tbody>
      </table>
    </section>
  </body>
</html>
