<!DOCTYPE html>
<html lang="ko">
  <head>
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/static/css/mypage.css" rel="stylesheet" type="text/css">
    <title>도서 판매 프로그램</title>
  </head>

  <body>
    <div id="wrap">
      <div id="header">
          <div class="head_top">
              <div class="info_mn">
                  <ul>
                      <li><button type="button" onclick="location.href='/cart/cart_list'">
                        장바구니
                        </button></li>
                      <li><button type="button" onclick="location.href='/order/order_list'">
                        주문목록
                        </button></li>
                      <li>
                        <% if(is_logined === false){%>
                          <button type="button" onclick="location.href='/user/login'">
                            로그인
                          </button>
                      </li>
                      <li>
                        <button type="button" onclick="location.href='/user/sign-up'">
                          회원가입
                        </button>
                      </li>
                      <li>
                        <%}else{%>
                        <button type="button" onclick="location.href='/user/myPage'">
                          마이페이지
                        </button>
                        </li>
                        <li>
                        <button type="button" onclick="location.href='/user/logout'">
                          로그아웃
                        </button>
                        <%}%>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="head_bottom">
              <div class="logo"><a href="/">DSU서점</a></div>
              <div class="search">
                  <form action="/book/book-search" method="post" class="search_in">
                      <!-- <label>도서 검색</label> -->
                      <input
                        type="text"
                        class="input"
                        placeholder="검색어를 입력하세요."
                        id="book_name"
                        name="book_name"
                      />
                      <input type="submit" value="검색" class="btn"/>
                    </form>
              </div>
              <nav class="nav">
                  <ul>
                      <li><button type="button" onclick="location.href='/book/bestSeller'">
                        베스트셀러
                      </button></li>
                      <li><button type="button" onclick="location.href='/book/eliteSeller'">
                        ElitePick
                      </button></li>
                      <li> <button type="button" onclick="location.href='/user/community'">
                        커뮤니티
                      </button></li>
                      <li><button type="button" onclick="location.href='/book/bookList'">도서 목록</button></li>
                      <li><button>이벤트</button></li>
                  </ul>
              </nav>
          </div>

    <section id="read-form">
      <h2><div style="text-align: center">마이페이지</div></h2>
      <table id="read-table">
        <thead>
          <tr id="field">
            <th>쿠폰 번호</th>
            <th>쿠폰 내용</th>
            <th>할인 가격</th>
            <th>사용 유무</th>
          </tr>
        </thead>
        <tbody class="txt1">
          <% for(let i = 0; i < result.length; i++){%>
          <tr>
            <td><%= result[i].id %></td>
            <td><%=result[i].content %></td>
            <td><%=result[i].discount %></td>
            <% let used%> <% if(result[i].useYN === 0){%> <%used =
            "사용가능"}else{%> <%used = "사용불가"}%>
            <td><%=used %></td>
          </tr>
          <%}%>
        </tbody>
      </table>
    </section>
    <section class="btn-box">
      <input type="button" value="메인 화면" onClick="location.href='/'" />
        <button type="button" onclick="location.href='/order/order_list'">
          주문내역
        </button>
        <button type="button" onclick="location.href='/cart/cart_list'">
        장바구니
        </button>
        <button type="button" onclick="location.href='/user/add-card'">
          카드등록
        </button>
        <button type="button" onclick="location.href='/user/add-address'">
          주소등록
        </button>
    </section>
  </body>
</html>
