<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script
      src="https://kit.fontawesome.com/4067fec9b0.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/css/home/sign-in.css" />
    <link rel="stylesheet" href="/css/book-main.css" />
    <script type="module" src="/js/home/sign-in.js" defer></script>

    <title>도서 판매 프로그램</title>
  </head>

  <!-- <nav>
    <ul>
      <!-- <button type="button" onclick="location.href='/'">도서 목록</button>
      <button type="button" onclick="location.href='/'">장바구니</button>
      <button type="button" onclick="location.href='/'">주문 내역</button> -->

  <!-- </ul>
  </nav> -->

  <body>
    <section id="login-form">
      <h1>
        <div style="text-align: center">Oline Book Store</div>
      </h1>

      <article id="btns">
        <button type="button" onclick="location.href='/login'">로그인</button>
        <button type="button" onclick="location.href='/sign-up'">
          회원가입
        </button>
        <button type="button" onclick="location.href='/book/addBook'">
          도서 등록
        </button>
        <button type="button" onclick="location.href='/book/book-main'">
          도서 구매
        </button>
      </article>
    </section>
  </body>
</html>
