<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>도서 판매 프로그램</title>
    <link rel="stylesheet" type="text/css" href="./css/reset.css" />
    <link rel="stylesheet" type="text/css" href="./css/view.css" />
  </head>

  <body>
    <section id="addBook-form">
      <h3>게시글 작성</h3>
      <form method="post" action="/user/add-post" >
        <table>
        
          <label>제목</label>
          <input
            type="text"
            class="input"
            placeholder="제목"
            id="title"
            name="title"
          />
          <br>
          <% if(isEvent === 'false'){%>
          <label>카테고리</label>
          <select name="board_num">
            <option value="1">1학년</option>
            <option value="2">2학년</option>
            <option value="3">3학년</option> 
          </select>
          <%} else {%>
            <input type="hidden" name = "board_num" value="4">
            <label>이벤트 목록</label>
          <select name="event_num">
            <% for(let i = 0; i < result.length; i++){%>
              <option value="<%=result[i].num%>"><%=result[i].name%></option>  
            <%}%>
          </select>
          <%}%>
          <label>내용</label>
          <textarea
          type="text"
          class="input"
          placeholder="내용을 입력하세요"
          id="content"
          name="content"></textarea>
          <!-- <label for="image">Image</label>
          <input type='file' name='upload' /><br> -->
        </table>
        <input type="submit" value="등록하기" />
    </form>
    
      
</html>
