<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/static/css/admin.css" rel="stylesheet" type="text/css">
    <title>도서 판매 프로그램</title>
  </head>

  <body>
    <section id="login-form">
      <h1>
        <div style="text-align: center">관리자 페이지입니다</div>
      </h1>

      <article id="btns">
        <button type="button" onclick="location.href='/book/addBook'">
          도서 등록
        </button>
        <button type="button" onclick="location.href='/coupon/addCoupon'">
          쿠폰 등록
        </button>
        <button type="button" onclick="location.href='/admin/giveCoupon'">
          쿠폰 부여
        </button>
        <button type="button" onclick="location.href='/admin/addEvent'">
          이벤트 등록
        </button>
      </article>
    </section>
  </body>
</html>
