<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>도서 판매 프로그램</title>
  </head>
  <body>
    <h1>
      <div style="text-align: center">Oline Book Store</div>
    </h1>
    <section id="read-form">
      <h2><div style="text-align: center">회원님의 주문목록</div></h2>
      <table id="read-table">
        <thead>
          <tr id="field">
            <th>제목</th>
            <th>가격</th>
            <th>작가</th>
            <th>삭제</th>
          </tr>
        </thead>
        <input
          type="button"
          value="메인 화면"
          onClick="location.href='/book/book-main'"
        />
        <tbody>
          <% for(let i = 0; i < result.length; i++){%>
          <tr>
            <td><%=result[i].book_name%></td>
            <td><%=result[i].book_price%></td>
            <td><%=result[i].book_author%></td>
          </tr>
          <%}%>
        </tbody>
      </table>
    </section>
  </body>
</html>
