<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>도서 판매 프로그램</title>
  </head>

  <body>
    <section id="addBook-form">
      <h1>도서 추가</h1>
      <form method="post" action="./addBook">
        <table>
          <label>제목</label>
          <input
            type="text"
            class="input"
            placeholder="제목"
            id="book_name"
            name="book_name"
          />
          <label>재고</label>
          <input
            type="text"
            class="input"
            placeholder="재고"
            id="book_stock"
            name="book_stock"
          />
          <label>가격</label>
          <input
            type="text"
            class="input"
            placeholder="가격"
            id="book_price"
            name="book_price"
          />
          <label>작가명</label>
          <input
            type="text"
            class="input"
            placeholder="작가"
            id="book_author"
            name="book_author"
          />
          
          
        </table>
        <input type="submit" value="도서 등록" />
      </form>
      
</html>
