<!DOCTYPE html>
<html lang="ko">
  <head>
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/static/css/best.css" rel="stylesheet" type="text/css">
    <title>도서 판매 프로그램</title>
  </head>

  <body>
    <div id="wrap">
      <div id="header">
          <div class="head_top">
              <div class="info_mn">
                  <ul>
                      <li><button type="button" onclick="location.href='/cart/cart_list'">
                        장바구니
                        </button></li>
                      <li><button type="button" onclick="location.href='/order/order_list'">
                        주문목록
                        </button></li>
                      <li>
                        <% if(is_logined === false){%>
                          <button type="button" onclick="location.href='/user/login'">
                            로그인
                          </button>
                      </li>
                      <li>
                        <button type="button" onclick="location.href='/user/sign-up'">
                          회원가입
                        </button>
                      </li>
                      <li>
                        <%}else{%>
                        <button type="button" onclick="location.href='/user/myPage'">
                          마이페이지
                        </button>
                        </li>
                        <li>
                        <button type="button" onclick="location.href='/user/logout'">
                          로그아웃
                        </button>
                        <%}%>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="head_bottom">
              <div class="logo"><a href="/">DSU서점</a></div>
              <div class="search">
                  <form action="/book/book-search" method="post" class="search_in">
                      <!-- <label>도서 검색</label> -->
                      <input
                        type="text"
                        class="input"
                        placeholder="검색어를 입력하세요."
                        id="book_name"
                        name="book_name"
                      />
                      <input type="submit" value="검색" class="btn"/>
                    </form>
              </div>
              <nav class="nav">
                  <ul>
                      <li><button type="button" onclick="location.href='/book/bestSeller'">
                        베스트셀러
                      </button></li>
                      <li><button type="button" onclick="location.href='/book/eliteSeller'">
                        ElitePick
                      </button></li>
                      <li> <button type="button" onclick="location.href='/user/community'">
                        커뮤니티
                      </button></li>
                      <li><button type="button" onclick="location.href='/book/bookList'">도서 목록</button></li>
                      <li><button>이벤트</button></li>
                  </ul>
              </nav>
          </div>
          
     
      <section class="contents2">
          <div class="con2_box1">
              <h3>이 달의 베스트 도서</h3>
              <ul>
                <% for(let i = 0; i < result.length; i++){%><% const detailUrl = "/book/detail/"
                + result[i].book_name %>
              <li>
                <a href="<%=detailUrl%>">
                  <img src="<%=result[i].img_link%>"/>
                </a>
                <h4><%=result[i].book_name%></h4>
                <p><%=result[i].book_price%>원</p>
                
              </li>
              <%}%>
            </ul>
          </div>
      </section>
    </div>
  </body>
</html>
