<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>도서 판매 프로그램</title>
  </head>

  <body>
    <form action="/book/book-search" method="post">
      <label>도서 검색</label>
      <input
        type="text"
        class="input"
        placeholder="검색어를 입력하세요."
        id="book_name"
        name="book_name"
      />
      <input type="submit" value="검색" />
    </form>

    <section id="read-form">
      <table id="read-table">
        <thead>
          <tr id="field">
            <th>번호</th>
            <th>제목</th>
            <th>가격</th>
            <th>작가</th>
          </tr>
        </thead>

        <tbody>
          <% for(let i = 0; i < result.length; i++){%>
          <tr>
            <td><%=result[i].book_num%></td>
            <td><%=result[i].book_name%></td>
            <td><%=result[i].book_price%></td>
            <td><%=result[i].book_author%></td>
          </tr>
          <%}%>
        </tbody>
      </table>
    </section>
  </body>
</html>
