<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>도서 판매 프로그램</title>
  </head>
  <section id="book-search-form">
    <table id="book-search-table">
      <thead>
        <tr id="field">
          <th>번호</th>
          <th>제목</th>
          <th>가격</th>
        </tr>
      </thead>

      <tbody>
        <% for(i = 0; i < result.length; i++){%>
        <tr>
          <td><%=result[i].book_num%></td>
          <td><%=result[i].book_name%></td>
          <td><%=result[i].book_price%></td>
        </tr>
        <%}%>
      </tbody>
    </table>
  </section>
</html>
