<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>도서 판매 프로그램</title>
  </head>

  <body>
    <form action="/book-search" method="get">
      <label>도서 검색</label>
      <input
        type="text"
        class="input"
        placeholder="책 제목"
        id="book_name"
        name="book_name"
      />
      <input type="submit" value="제목" />
      <!-- <button
        type="button"
        value="검색"
        onclick="location.href='/book/book-search'"
      >
        도서 검색
      </button> -->
    </form>

    <section id="read-form">
      <table id="read-table">
        <thead>
          <tr id="field">
            <th>번호</th>
            <th>제목</th>
            <th>가격</th>
          </tr>
        </thead>

        <tbody>
          <% for(i = 0; i < result.length; i++){%>
          <tr>
            <td><%=result[i].book_num%></td>
            <td><%=result[i].book_name%></td>
            <td><%=result[i].book_price%></td>
          </tr>
          <%}%>
        </tbody>
      </table>
    </section>
  </body>
</html>
